/*  */

body, section {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

#d3 {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
}

circle {
    fill: red;
    stroke: black;
    stroke-width: 5px;
}

line {
    stroke: black;
    stroke-width: 5px;
}

svg {
    pointer-events: all;
}

.over {
    position: fixed;
    width: 100%;
    z-index: 2;
}

#tab{
    position: relative;
    left: 50%;
    margin-left: -40px;
    color: #5b5b5b;
    cursor: pointer;
}

#toolbar {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #000000;
    color: white;
}

#d3_credit {
    float: right;
    top: 50%;
    margin-top: 12px;
    margin-right: 12px;
    text-decoration: none;
}

#help_button {
    float: left;
    top: 50%;
    margin-top: 12px;
    margin-left: 12px;
    user-select: none;
    cursor: pointer;
}

#bgPopup{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 3;
}  

#Popup{
    display: none;
    position: fixed;
    background: #FFFFFF;
    border: 2px solid #cecece;
    z-index: 4;
    padding: 12px;
}

input[type=range] {
    position: absolute;
    left: 25%;
    margin-left: -100px;
    top: 50%;
    margin-top: -3px;
    -webkit-appearance: none;
    background-color: white;
    width: 200px;
    height: 6px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    border: 2px solid black;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

input[type=text] {
    position: absolute;
    left: 75%;
    margin-left: -100px;
    top: 50%;
    margin-top: -9.5px;    
    width: 200px;
    font-family: inherit;
}