/* standard tag styles */

body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
}

h1 {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

/* d3 force graph styles for the nodes and links */

#d3 {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
}

circle.sgnode {
  stroke: #fff;
  stroke-width: 1.5px;
}

line {
    stroke: black;
    stroke-width: 1px;
    opacity: .3;
}
circle{
	fill:green;
}
circle.center {
	fill:blue;
}
circle:hover{
	fill:red;
}

path {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}
text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

svg {
    pointer-events: all;
}

/* toolbar and toolbar element styles */

.over {
    position: fixed;
    width: 100%;
    z-index: 2;			/* higher index to put on top of d3 */
}

#tab{
    position: relative;
    left: 50%;
    margin-left: -40px;
    color: #5b5b5b;
    cursor: pointer;		/* tab image used as button */
}

#toolbar {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #000000;
    color: white;
}

#d3_credit {
    float: right;
    top: 50%;
    margin-top: 12px;
    margin-right: 12px;
    text-decoration: none;
}

#help_button {
    float: left;
    top: 50%;
    margin-top: 12px;
    margin-left: 12px;
    user-select: none;
    cursor: pointer;
}

/* help popup and popup background styles */

#bgPopup{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 3;			/* higher index than toolbar for overlay */
}  

#Popup{
    display: none;
    position: fixed;
    background: #FFFFFF;
    border: 2px solid #cecece;
    z-index: 4;			/* still higher index for another layer*/
    padding: 12px;
    text-align: center;
}

#help ul {
    padding: 0px;
}

#help li {
    list-style: none;
    line-height: 20px;
}

/* zoom slider

   note that input[type=range] breaks on firefox, so html5slider.js is used to
   patch it, and the local copy of html5slider.js was modified to match the
   webkit styling applied here
*/

#thumbcover {
    width: 10px;
    height: 30px;
    background: white;
    z-index: 0;
    position: fixed;
}

input[type=range] {
    position: absolute;
    left: 25%;
    margin-left: -100px;
    background-color: white;
    -webkit-appearance: none;
    top: 50%;
    margin-top: -3px;
    width: 200px;
    height: 6px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    border: 2px solid black;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

/*
   due to firefox and chrome rendering the search boxes at different heights,
   tables and vertical-aligns were used to properly center the box
*/

#search {
    display: table;
    position: absolute;
    left: 75%;
    margin-left: -100px;
    width: 200px;
    height: 100%;
}

#searchcell {
    display: table-cell;
    vertical-align: middle;
}

#searchbar {
    width: 200px;
}

/* link to redraw the subgraphs */

#dots {
    position: absolute;
    left: 50%;
    margin-left: -13px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
}