body {
    overflow: hidden;
    margin: 0px;
}

line {
    stroke: black;
	stroke-width: 1px;
}

.group0 {
	fill:#000000; 
}
.group1 {
	fill: #009900;
}
.group2 {
	fill: #00FF00;
}
.group3 {
	fill: #660000;
}
.group4 {
	fill: #666600;
}
.group5 {
	fill: #0000FF;
}
.group6 {
	fill: #330099;
}
.group7 {
	fill: #CC0000;
}
.group8 {
	fill: #FFFF00;
}
.group9 {
	fill: #FF00FF;
}
.group10 {
	fill: 9999FF;
}
.group11 {
	fill: #99FFFF;
}
.group12 {
	fill: #FFCCFF;
}