body, section {
    overflow: hidden;
    margin: 0px;
}

/*
  By making the divs in the toolbar like a table, they keep centered on a window
  resize and in relation to each control-space
*/

#toolbar {
    background: #CCCCCC;
    display: table;
    position: fixed;
    width: 140px;
    height: 100%;
    padding: 5px;
}

.control-space {
    display: table-row;
    vertical-align: middle;
    padding: 5px;
}

.center-control {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #666666;
    margin: 5px;
}

/* we don't need a divider on the bottom of the last control */
#last-control {
    border-bottom: 0px;
}

#d3 {
    position: relative;
    left: 150px;
    width: auto;
    height: auto;
}