body, section {
    overflow: hidden;
    margin: 0px;
}

/*
  By making the divs in the toolbar like a table, they keep centered on a window
  resize and in relation to each control-space
*/

#toolbar {
    background: #CCCCCC;
    display: table;
    position: fixed;
    width: 150px;
    height: 100%;
}

.control-space {
    display: table-row;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}